* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url(../images/rockstack.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Courgette', cursive;
    font-size: 16px;
    color: #1a3b7d;
}
.intro {
    position: relative;
}
h1 {
    font-size: 30px;
    margin: 10px 0 0 10px;
}
h2 {
    font-size: 12px;
    margin-left: 30px; 
}
.enter {
    position: fixed;
    top: 20px;
    right: 0;
    width: 150px;
    height: 40px;
    background-color: rgba(104, 102, 108, 0.32);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    padding-top: 12px;
}
.enter a {
    text-decoration: none;
 
}
.duh {
    margin-right: 0.5em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    content: "\f101";
}
.list {
    position: relative;
}
.list ul {
    position: absolute;
    top: 130px;
    left: 47%;
    font-size: 2em;
    list-style: none;
    line-height: 2em;
}
/* 1st breakpoint for responsive design */
@media screen and (min-width: 430px) {
    h1, h2 {
        font-size: 34px;
    }
}
/* 2nd breakpoint for responsive design */
@media screen and (min-width: 700px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    #pbutton {
        width: 170px;
        height: 170px;
    }
}
/* breakpoint to stretch width */
@media screen and (min-width: 1900px) {
    body {
        background-size: 100%;
    }
}