@import "_variables.scss";

.nav {
    background-color: $darkbeige;
    li {
        color: $green;
        font-size: 16px;
        font-weight: 500;
        a {
            text-decoration: none;
        }
        a:link, a:visited {
            color: $green;
        }
        a:hover {
            color: $lightgreen;
        }
    }
}