* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lora', serif;
    background-color: #ecdfc6;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
/* content */
section {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #ecdfc6;
}
section .wrapper {
    display: flex;
}
#picture {
    border: 3px solid #3d4968;
    border-radius: 10px;
    margin: auto 10px;
    width: 480px;
    height: 404px;
}
#text {
    font-size: 16px;
    margin: auto 20px;
}
#text p {
    margin: 10px 0;
}
section a {
    color: #3d5968;
}
section a:hover {
    color: #72a7a3;
}