footer {
    background-color: #3d4968;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #ecdfc6; 
}
footer a {
    color: #ecdfc6;
}
.nl {
    text-decoration: none;
}
footer a:hover {
    color: #72a7a3;
}
footer .wrapper {
    text-align: center;
    display: relative;
    top: 10px;
}
footer p {
    font-family: 'Lora', serif;
    font-size: 16px;
}
.twitter {
    fill: #ecdfc6;
    position: relative;
    top: 4px;
}
.facebook {
    fill: #ecdfc6;
    position: relative;
    top: 2px;
}
.twitter:hover, .facebook:hover {
    fill: #fff;
}