* {
  margin: 0;
  padding: 0;
}
.page {
  max-width: 960px;
  min-width: 600px;
  margin: 20px auto;
}

/* header */
h1 {
  padding-top: 10px;
}

/* navigation */
nav {
  margin: 10px 0;
}

/* content */
h2 {
  padding: 20px 0;
}
section {
  padding: 0 10px;
}
section p:first-child {
  margin-bottom: 30px;
}

/* gallery on home page */
.gallery img {
  height: 250px;
  width: 250px;
  margin: 10px 10px 0;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 40px;
}

/* each hiking page */
.hikepic {
  float: right;
  width: 337px;
  height: 449px;
  margin: 0 20px;
}
dl {
  margin: 0 20px 20px;
}
dt {
  margin: 5px 0 2px 0;
}

/* gear page */
.columns {
  margin: 0 20px;
  column-count: 2;
  column-gap: 20px;
}
.columns h2, aside {
  column-span: all;
}
.columns p {
  margin-bottom: 10px;
}
aside {
  padding-top: 10px;
}

/* footer */
footer {
  padding: 20px 0 10px;
  clear: both;
}
